.category-container {
  transition-property: var(--transition-ui);
  transition-duration: 0.3s;
  transition-timing-function: var(--ease-out);
}

.category-container:focus {
  box-shadow: 0px 0px 3px blue;
  transition-property: var(--transition-ui);
  transition-duration: 0.3s;
  transition-timing-function: var(--ease-out);
}

.badge-container > div > div {
  border-radius: 0.25rem !;
  padding: 6px 8px !important;
}
