/* right side drawer scrollbar style */

.right-drawer-items-con::-webkit-scrollbar {
  width: 5px;
}

.right-drawer-items-con::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 1rem;
  opacity: 0;
  transition: opacity 150ms var(--ease-out);
}

.right-drawer-items-con:hover::-webkit-scrollbar-thumb {
  opacity: 1;
}
